.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 24px 83px;
    /* border: 1px solid red; */
}

/* Left */
.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

.logo-container {
    h1 {
        font-size: 36px;
        font-weight: bold;
        color: white;
    }
}

.navigation-container {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        list-style: none;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: #868686;
    }
}

/* Right */
/* .header-right {
    border: 1px solid red;
} */

.search-container {
    input {
        width: 375px;
        height: 48px;
        padding: 8px 18px;
        border: none;
        border-radius: 37px;
        background-color: #374151;
        font-size: 18px;
        color: white;
        outline: none;
    }

    input::placeholder {
        font-size: 18px;
        color: #868686;
    }
}